<meta name="description" content="list of active contracts" />
<title>ACTIVE CONTRACTS</title>
<h1 class="h1 text-md-center">List of contracts</h1>
<div class="row">
    <div class="card col-md-4" *ngFor="let c of contracts">
        <div class="card-header">{{c.subject}} <a class="float-right" [routerLink]="['/edit-contract',c.contractsID]">Edit</a></div>
        <div class="card-body">
            <div class="card-text row">
                <div class="col-md-4">Contractor</div>
                <div class="col-md-6">{{c.contractor}}</div>
            </div>
            <div class="card-text row">
                <div class="col-md-4">Amount </div>
                <div class="col-md-6">{{c.amount |currency:'GHS'}}</div>
            </div>
            <div class="card-text row">
                <div class="col-md-4">Expected</div>
                <div class="col-md-6">{{c.expectedDate |date}}</div>
            </div>
            <div class="card-text row">
                <div class="col-md-4 text-dark">Signed</div>
                <div class="col-md-6">{{c.dateSigned |date}}</div>
            </div>
        </div>
        <a class="card-link btn btn-primary" [routerLink]="['/view-contract',c.contractsID]">View details</a>
    </div>
</div>